In [3]:
cat sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR
Anthony 21     PR

In [4]:
sed '/Peter/p' sed.txt

Name    Age    Unit
Peter   50     HR
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR
Anthony 21     PR

In [5]:
sed -n  '/Peter/p' sed.txt

Peter   50     HR

In [7]:
sed -n  '3p' sed.txt

John    20     IT

In [8]:
sed -n '3,5p' sed.txt

John    20     IT
Joshua  25     IT
Mark    33     PR

In [9]:
sed -n '5,$p' sed.txt

Mark    33     PR
Anthony 21     PR

In [10]:
sed '/IT/a contact: tel 1234' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
contact: tel 1234
Joshua  25     IT
contact: tel 1234
Mark    33     PR
Anthony 21     PR

In [12]:
sed '/IT/i contact: tel 4567' sed.txt

Name    Age    Unit
Peter   50     HR
contact: tel 4567
John    20     IT
contact: tel 4567
Joshua  25     IT
Mark    33     PR
Anthony 21     PR

In [13]:
cat sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR
Anthony 21     PR

In [14]:
sed '/IT/d' sed.txt

Name    Age    Unit
Peter   50     HR
Mark    33     PR
Anthony 21     PR

In [15]:
sed '/PR/c hidded information from pr unit' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
hidded information from pr unit
hidded information from pr unit

In [17]:
sed 'c change all lines' sed.txt

change all lines
change all lines
change all lines
change all lines
change all lines
change all lines

In [20]:
sed -n '4p' sed.txt

Joshua  25     IT

In [21]:
sed -n '/Jos/p' sed.txt

Joshua  25     IT

In [23]:
sed -n '/Mark/q 200' sed.txt

: 200

In [24]:
sed -n '/Mody/q 200' sed.txt

In [31]:
sed '/Mark/q255' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR

: 255

In [32]:
sed '/Mark/q256' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR

In [33]:
sed '/Mark/q260' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR

: 4

In [1]:
sed -n '/Mark/q121' sed.txt

: 121

In [2]:
sed -n '/Mark/pq121' sed.txt

sed: -e expression #1, char 8: extra characters after command

: 1

In [3]:
sed -ne '/Mark/p' -ne '/Mark/q221' sed.txt

Mark    33     PR

: 221

In [4]:
sed -ne '/Mark/q221' -ne '/Mark/p' sed.txt

: 221

In [6]:
sed -e '/Mark/i :new line before mark' -e '/Mark/a :newline after mark' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
:new line before mark
Mark    33     PR
:newline after mark
Anthony 21     PR

In [10]:
mv sed.txt ised.txt
sed -ie '/Mark/i :new line before mark'  ised.txt

In [11]:
cat ised.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
:new line before mark
Mark    33     PR
Anthony 21     PR

In [13]:
sed '/John/e echo 1234' sed.txt

Name    Age    Unit
Peter   50     HR
1234
John    20     IT
Joshua  25     IT
Mark    33     PR
Anthony 21     PR

In [14]:
echo "1 2 3 2 1" | sed 's/2/k/'

1 k 3 2 1

In [15]:
echo "1 2 3 2 1" | sed 's/2/k/g'

1 k 3 k 1

In [16]:
sed '1,$s/IT/VR/g' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     VR
Joshua  25     VR
Mark    33     PR
Anthony 21     PR

In [17]:
sed 's/[3-9][[:digit:]]/**/g' sed.txt

Name    Age    Unit
Peter   **     HR
John    20     IT
Joshua  25     IT
Mark    **     PR
Anthony 21     PR

In [19]:
sed 's/PR/PR PR PR/g' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR PR PR
Anthony 21     PR PR PR

In [20]:
sed 's/PR/& & &/g' sed.txt

Name    Age    Unit
Peter   50     HR
John    20     IT
Joshua  25     IT
Mark    33     PR PR PR
Anthony 21     PR PR PR